* {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
  }
  
  body {
    margin: 2rem;
    color: var(--clr-gray);
  }
  
  .wrapper-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
  }
  
  .container {
    overflow: hidden;
    box-shadow: 0px 2px 8px 0px var(--clr-gray-light);
    background-color: lightcyan;
    text-align: left;
    border-radius: 1rem;
    position: relative;
    width: 280px;
    margin-bottom: 1rem;
    margin-left: 1rem;
    border: 1px solid #bacdd8;
    padding: 8px;
  }
  .name {
    font-size: 1.5rem;
    color: #000;
    margin-top: 5vh;
    
  }
  
  .description {
    margin: 1rem 2rem;
    font-size: 0.9rem;
  }
  .list {
    color: #000;
    margin-top: 3vh;
  }
  
  .btn {
    border: none;
    padding: 12px 24px;
    border-radius: 15px;
    font-weight: 600;
    color: #e1e4e7;
    background: linear-gradient(120deg, #1c99fe 20.69%, #031a58 50.19%,#ec188d 79.69%);
    display: flex;
    margin: 0 auto;
    cursor: pointer;
    text-transform: uppercase;
    transition: all .4s ease-in-out;
    margin-top: 5vh;
    
}

  
  