{% extends 'base.html' %}

{% block content %}
<div>
    <div id="overlay-1608" class="overlay sos-iframe-loaded" style="display: none;">
        
    </iframe class ="divi-sos-iframe" src="{{url_for('static',filename='pexels-mali-meader-42091.jpg')}}" scrolling="yes" width="1608">
        

    <h1 class="heading heading-xxl strong-800 d-none d-lg-block">
        <i class="fab fa-github"></i>
        Become A Member of Pure Blood NFT Yacht Club and Restore your Individual Sovereignty
    </h1>

        <h2>Member Benefits include:</h2>
        <ol>
            <li>
                Free Engry to the Pure Blood Yacht
            </li>
            <li>
                Meet-Ups with like minded members 
            </li>
            <li>
                Free educational resources 
            </li>
        </ol>

</div>

{% endblock %}