{% extends '../base.html' %}

{% block content %}
<div class = 'container'>
    <h2>Pure Blood NFT Yacht Club Value Proposition</h2>
      <div class="card" style="width: 18rem;">
           <div class="card-header">
            
            </div>
          <div class="embed-responsive embed-responsive-4by3">
            <iframe width="420" height="315" src="https://www.youtube.com/embed?v=rhirxE62rWs&ab_channel=TrentonGaddis" frameborder="0" allowfullscreen></iframe>

          </div>
          <div class="card-body">
            <p class="card-text">Why Join PURE BLOOD NFT?.</p>
          </div>
    </div>
    
    <div class="card" style="width: 18rem;">
  <img src="https://media-exp1.licdn.com/dms/image/C4E12AQFOQ-Nkfa9IOA/article-cover_image-shrink_600_2000/0/1538417966868?e=1651708800&v=beta&t=85hu0Kf7fxSMWq9Z0NDShZCh5lHocnTaeTetRkqp9P4"     class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">What is Self-Sovereign Identity and Why do we need it on the Blockchain?.</p>
    </div>
  </div>
 </div>

{% endblock %}